.env
.env.local*
.vscode
nltk_data
pre_synthesized_audio_files
.venv/
test_result*
call_payload.json
kill_all_fresh_env.sh
venv/
.DS_Store
__pycache__/
inbound_trunk.json
dispatch_rule.json
salientgoogle.json
tests/audio_files/noise_cancellation/debug
processed_audio.wav
logs/
log_file.txt
temp/
audio_recordings/
timelines/
results/
logs/
twilio_call_sid.json
timeline_data*.json
nltk_data/
test_call.py
test_init.py
.env
datalake/**/*.json
*.mp4
.gradio
downloads/
s3_logs
salientgoogle.json
*.ipynb
make_dials.py